<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <!-- <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'dashboard' | translate }}
        </a> -->
        <!-- <a [routerLink]="['/expend-lists']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'expend-lists' | translate }}
        </a>
        <a [routerLink]="['/contact-lists']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'contact-lists' | translate }}
        </a> -->
        <a [routerLink]="['/account']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-list-ul"></i>&nbsp;{{ 'account' | translate }}
        </a>
        <a [routerLink]="['/ap-list']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'ap' | translate }}
        </a>
        <a [routerLink]="['/ar-list']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'ar' | translate }}
        </a>
        <a [routerLink]="['/pv-list']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'pv' | translate }}
        </a>
        <a [routerLink]="['/rv-list']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'rv' | translate }}
        </a>
        <a [routerLink]="['/jv-list']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'jv' | translate }}
        </a>
        <!-- <a [routerLink]="['/buy-create']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-edit"></i>&nbsp;{{ 'buy' | translate }}
        </a>
        <a [routerLink]="['/sale-create']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-edit"></i>&nbsp;{{ 'sale' | translate }}
        </a> -->
    </ul>
</nav>
