<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'dashboard' | translate }}
        </a>
        <a [routerLink]="['/account']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Account' | translate }}
        </a>
        <a [routerLink]="['/expend-lists']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Expend Lists' | translate }}
        </a>
        <a [routerLink]="['/contact-lists']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'Contact Lists' | translate }}
        </a>
    </ul>
</nav>
