<nav class="sidebar" [ngClass]="{sidebarPushRight: isActive}">
    <ul class="list-group">
        <!-- <a routerLink="/dashboard" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-fw fa-dashboard"></i>&nbsp;{{ 'dashboard' | translate }}
        </a> -->
        <a [routerLink]="['/account']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'account' | translate }}
        </a>
        <!-- <a [routerLink]="['/expend-lists']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'expend-lists' | translate }}
        </a>
        <a [routerLink]="['/contact-lists']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'contact-lists' | translate }}
        </a> -->
        <a [routerLink]="['/ap-create']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'ap' | translate }}
        </a>
        <a [routerLink]="['/jv-create']" [routerLinkActive]="['router-link-active']" class="list-group-item" (click)="toggleSidebar()">
            <i class="fa fa-file-o"></i>&nbsp;{{ 'jv' | translate }}
        </a>
    </ul>
</nav>
